@use "../variables.scss" as variables;

.additional-item {
  list-style-type: none;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: variables.$tablet-width) {
    padding-right: 37px;
    padding-left: 37px;
    padding-bottom: 28px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    padding: 0;
  }
}

.additional-item__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
  width: 163px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 326px;
  }
}

.additional-item__container-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  width: 280px;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: fit-content;
    margin-top: 4px;
    margin-right: 4px;
    gap: 51px;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: flex-start;
    gap: 0;
  }
}

.additional-item__value {
  margin: 0;

  @media (min-width: variables.$desktop-width) {
    min-width: 243px;
    text-align: left;
  }
}

.additional-item__price {
  @media (min-width: variables.$desktop-width) {
    min-width: 78px;
    text-align: left;
  }
}


.additional-item__button {
  padding: 10px 109px;

  @media (min-width: variables.$desktop-width) {
    padding: 11px 92px;
    height: fit-content;
  }
}

.additional-item__container {
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 21px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 22px;
  }
}
