@use "../variables.scss" as variables;

.address {
  &--theme-gray {
    background-color: #f2f2f2;

    @media (min-width: variables.$desktop-width) {
      background-color: #ffffff;
    }
  }
}

.address__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 40px;
    align-items: start;
  }

  @media (min-width: variables.$desktop-width) {
    width: 409px;
    padding-left: 80px;
    padding-right: 78px;
    position: absolute;
    z-index: 1;
    margin-top: 95px;
    background-color: #ffffff;
    min-height: 135px;
    overflow: hidden;
  }
}

.address__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/address-image.png");

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}

.address__map iframe {
  border: 0;
  display: block;
  width: inherit;
  height: inherit;
}

.address__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  width: 163px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__info {
  width: 157px;
  font-style: normal;
}

.address__link {
  font-size: 14px;
  line-height: 143%;
  color: #444444;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
  }
}

.address__link span {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 18px;
  }
}
