.address__container {
  display: flex;
  align-items: center;
  width: 320px;
height: 112px;
background-color: #ffffff;
}

.address__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111;
  margin-left: 13px;
}

.address__link {
  font-size: 14px;
  line-height: 143%;
  color: #444;
  text-decoration: none;
}
