@use "../variables.scss" as variables;

.button {
  font-family: variables.$accent-font;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-decoration: none;

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
  }

  @media (min-width: variables.$mobile-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
  }
}

.button:hover {
  background: #5eaa2f;
}

.button:active {
color: rgba(255, 255, 255, 0.3);
}
