@use "../variables.scss" as variables;

.catalog-item {
  list-style-type: none;
  min-width: 280px;

  @media (min-width: variables.$tablet-width) {
    background: linear-gradient(#ffffff 81px, #f2f2f2 81px, #f2f2f2 100%);
    min-height: 511px;
    min-width: 324px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 245px;
  }
}

.catalog-item__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
  width: 80px;
  margin-top: 0;
}


.catalog-item__description {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
}

.catalog-item__image {
  @media (min-width: variables.$tablet-width) {
    width: 168px;
    height: 206px;
    margin-bottom: 27px;

    &--small {
      width: 161px;
      height: 172px;
      margin-bottom: 60px;
    }

    &--more {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 172px;
    height: 196px;
    margin-bottom: 27px;

    &--more {
      width: 60px;
      height: 60px;
    }
  }
}

.catalog-item__button {
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 250px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 169px;
  }
}
