@use "../variables.scss" as variables;

.catalog {
  margin-bottom: 35px;
}

.catalog__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}
