@use "../variables.scss" as variables;

.example {
  background-color: #eaeaea;
  padding-bottom: 40px;
  padding-top: 25px;
}

.example__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
}

.example__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}

.example__info-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.example__info-item {
  width: 124px;
  height: 70px;
}

.example__info-title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

.example__info-text {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #444444;
}

.example__cost-wrapper {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
}
