@use "../variables.scss" as variables;

.example {
  background: #eaeaea;
  padding-bottom: 40px;
  padding-top: 25px;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    background: linear-gradient(to bottom, #ffffff 599px, #eaeaea 599px, #eaeaea 462px);
    min-height: 1080px;
  }

  @media (min-width: variables.$desktop-width) {
    background: linear-gradient(to bottom, #ffffff 161px, #eaeaea 161px, #eaeaea 462px);
    min-height: 598px;

    .example__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title image" "description image" "button image";
      grid-template-rows: min-content min-content 1fr;
    }

    .example-slider {
      grid-area: image;
    }
  }
}

.example__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 130px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 432px;
  }
}

.example__info-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.example__info-item {
  width: 124px;
  height: 70px;
}

.example__info-title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

.example__info-text {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #444444;
}

.example__cost-wrapper {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
}
