@use "../variables.scss" as variables;

.food-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
  margin-top: -14px;

  @media (min-width: variables.$tablet-width) {
    gap: 28px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.food-type__item {
  background-color: #f2f2f2;
  padding: 20px 20px;

  &--slim {
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: top 20px left 20px;
    background-size: 50px, 53px;

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/cat-slim-tablet.svg");
      background-position: top 81px left 445px;
      background-size: auto;
    }

    @media (min-width: variables.$desktop-width) {
      background-image: url("../img/cat-slim-desktop.svg");
      background-position: top 41px left 50px;
    }
  }

  &--pro {
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: top 24px left 13px;
    background-size: 67px 50px;

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/cat-pro-tablet.svg");
      background-position: top 91px left 411px;
      background-size: auto;
    }

    @media (min-width: variables.$desktop-width) {
      background-image: url("../img/cat-pro-desktop.svg");
      background-position: top 47px left 33px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 65px 52px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 65px 52px;
  }
}

.food-type__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 70px;
  margin-bottom: 29px;

  @media (min-width: variables.$tablet-width) {
    padding-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 100%;
    margin-top: 12px;
  }

  @media (min-width: variables.$desktop-width) {
    line-height: 100%;
    font-size: 36px;
    padding-left: 160px;
    margin-bottom: 72px;
  }
}

.food-type__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  width: 227px;
  margin-bottom: 23px;
  margin-top: 0;

  @media (min-width: variables.$tablet-width) {
    line-height: 150%;
    width: 340px;
    margin-bottom: 56px;
    font-size: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 455px;
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.food-type__link {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 18px;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
  width: 240px;

  &::after {
    content: url("../img/icon-arrow.svg");
    width: 24px;
    margin-left: 16px;

    @media (min-width: variables.$tablet-width) {
      margin-left: 24px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    border: 0;
    padding: 0;
    font-size: 20px;
  }
}


.food-type__link:hover::after {
  content: url("../img/icon-arrow-long.svg");
}

.food-type__link:active {
  opacity: 0.3;
}
