.food-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 552px;
  margin-top: 20px;

}

.food-type__item {
  width: 280px;
  height: 266px;
  background: #f2f2f2;

}

.title-container {
  display: flex;
  align-items: center;
}

.food-type__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000;
  margin-top: 30px;
}

.food-type__image--slim {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.food-type__image--mass {
  margin-right: 11px;
  margin-left: 12px;
  margin-top: 13px;
}

.food-type__text {
  font-size: 14px;
  line-height: 129%;
  color: #444;
  width: 227px;
  margin-bottom: 23px;
  margin-top: 10px;
  margin-left: 20px;
}

.food-type__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 18px;
  color: #000;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
  width: 240px;
  margin-left: 20px;
}

.food-type__link::after {
  content: url("../img/icon-arrow.svg");
  margin-left: 15px;
}
