@use "../variables.scss" as variables;

.form-feedback {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form-feedback__input {
  min-height: 150px;
  width: 280px;
  border: 1px solid #e7e7e7;
  margin-top: 38px;

  @media (min-width: variables.$tablet-width) {
    width: 628px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
  }
}
