@use "../variables.scss" as variables;


.form-container__title {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 51px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 64px;
  }
}

.form-container__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
  margin-top: 37px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
    margin-bottom: 66px;
  }
}
