@use "../variables.scss" as variables;

.form-feed {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.form-feed__container {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}
