@use "../variables.scss" as variables;

.form-feedback {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 72px;
  }
}

.form-feedback__input {
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  margin: 0;
  padding: 14px 14px 0 15px;
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  resize: vertical;

  @media (min-width: variables.$tablet-width) {
    width: 628px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    min-height: 175px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
  }
}

.form-feedback__title {
  margin-top: -10px;

  @media (min-width: variables.$tablet-width) {
    margin-top: -3px;
    margin-bottom: 87px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 75px;
  }
}

.form-feedback__title-text {
  width: 121px;
  margin-top: 10px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 3px;
  }
}
