@use "../variables.scss" as variables;

.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    min-width: 320px;
    min-height: 302px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero-background-image.png");
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;

    @media (min-width: variables.$tablet-width) {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      min-width: 720px;
      min-height: 694px;
      display: flex;
      background-size: cover;
      right: 0;
      top: -70px;
    }
  }

  @media (min-width: variables.$mobile-width) {
    height: 480px;
  }

  @media (min-width: variables.$tablet-width) {
    height: 875px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 580px;
  }
}

.hero__image {
  @media (min-width: variables.$mobile-width) {
    height: 270px;
  }

  @media (min-width: variables.$tablet-width) {
    height: 609px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 499px;
  }
}

.hero__title {
  margin: 0;
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 0;
}

.hero__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
