@use "../variables.scss" as variables;

.hero {
  position: relative;
  margin-bottom: 34px;

  &::before {
    content: "";
    position: absolute;
    min-height: 302px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../img/hero-background-image.png") 1x,
        url("../img/hero-background-image@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;


    @media (min-width: variables.$tablet-width) {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)),
        image-set(url("../img/hero-background-image-desktop.png") 1x,
          url("../img/hero-background-image-desktop@2x.png") 2x);
      display: block;
      background-size: cover;
      background-position: left;
      left: 50%;
      right: 0;
      top: -128px;
      bottom: 0;
      height: 694px;
    }
  }

  @media (min-width: variables.$mobile-width) {
    min-height: 480px;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 875px;
    margin-bottom: 0;

    .hero__container {
      display: grid;
    }

    .hero__image {
      order: 2;
      position: absolute;
      top: 252px;
      left: 56px;
      height: 609px;
      z-index: -1;
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 580px;
    margin-bottom: 37px;

    .hero__container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title image" "description image" "button image";
      grid-template-rows: min-content min-content 1fr;
    }

    .hero__image {
      position: static;
      grid-area: image;
      margin-left: -166px;
      margin-top: -11px;
    }
  }
}

.hero__title {
  margin: 0;
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 0;
  text-indent: 10px;
  margin-left: 16px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    color: #000000;
    text-indent: 0;
    margin-left: 90px;
    margin-top: 24px;
    width: 420px;
    margin-bottom: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 80px;
    margin-top: 70px;
  }
}

.hero__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
  margin-bottom: 28px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    color: #000000;
    margin-left: 90px;
    margin-bottom: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 80px;
    margin-bottom: 51px;
  }
}

.hero__container {
  padding-top: 27px;
}

.hero__button {
  height: 40px;
  font-size: 16px;
  line-height: 125%;

  @media (min-width: variables.$tablet-width) {
    width: 244px;
    margin-left: 90px;
    height: 54px;
    font-size: 20px;
    line-height: 130%;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 80px;
  }
}

.hero__button:hover {
  background: #5eaa2f;
}
