@use "../variables.scss" as variables;


.how-it-works-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;

    @media (min-width: variables.$tablet-width) {
      height: 80px;
      width: 80px;
      padding: 0;
    }
  }

  &--leaf::before {
    background-image: url("../img/functional-icon.svg");

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/functional-icon-tablet.svg");
    }
  }

  &--powder::before {
    background-image: url("../img/powder-icon.svg");

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/powder-icon-tablet.svg");
    }
  }

  &--bowl::before {
    background-image: url("../img/feed-icon.svg");

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/feed-icon-tablet.svg");
    }
  }

  &--time::before {
    background-image: url("../img/time-icon.svg");

    @media (min-width: variables.$tablet-width) {
      background-image: url("../img/time-icon-tablet.svg");
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    counter-increment: how-it-works-item;

    &::after {
      content: counter(how-it-works-item);
      font-family: variables.$accent-font;
      font-weight: 400;
      font-size: 280px;
      line-height: 100%;
      color: #f2f2f2;
      position: absolute;
      z-index: -1;
      top: -38px;
      right: 0;
    }

    &--leaf {
      width: 230px;
    }

    &--powder {
      width: 246px;
      margin-right: 3px;
    }

    &--bowl {
      width: 247px;
    }

    &--time {
      width: 249px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--leaf {
      margin-right: 95px;
    }

    &--powder {
      margin-right: 79px;
    }

    &--bowl {
      margin-right: 74px;
    }
  }
}

.how-it-works-item p {
  margin: 0;


  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
    margin-top: 11px;
    width: 245px;
    display: flex;
    flex-direction: column;
  }
}
