@use "../variables.scss" as variables;

.how-it-works-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: variables.$tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 37px;
    justify-content: space-between;
    padding-right: 75px;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding-right: 0;
    gap: 0;
    justify-content: start;
  }
}
