@use "../variables.scss" as variables;

.label {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
}

.label__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
  }
}

.label__input {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  padding-left: 15px;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    height: 52px;
    padding-left: 20px;
    font-size: 20px;
  }
}

.label__input:hover {
  border: 1px solid #cdcdcd;
  transition: 0.3s ease;
}

.label__input:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
  transition: 0.3s ease;
}

.label__input:invalid {
  border: 1px solid #ffb2b2;
  outline: 1px solid #ffb2b2;
  transition: 0.3s ease;
}
