@use "../variables.scss" as variables;

.label-type {
  position: relative;
  display: flex;
  line-height: 20px;
  margin: 0;
}

.label-type__text {
  margin-left: 2px;
  margin-top: 7px;

  @media (min-width: variables.$tablet-width) {
    margin-left: 7px;
    margin-top: 0;
  }
}

.label-type__radio-control {
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;

  @media (min-width: variables.$tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.label-type__input[type="radio"] + .label-type__radio-control {
  border-radius: 50%;
}

.label-type__input[type="radio"]:checked ~ .label-type__radio-control::before {
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: variables.$tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.label-type:hover .label-type__radio-control {
  border: 1px solid #bababa;
  transition: 0.3s ease;
}

.label-type__input[type="radio"]:disabled ~ .label-type__radio-control,
.label-type__input[type="radio"]:disabled ~ .label-type__text {
  opacity: 0.3;
  transition: 0.3s ease;
}

.label-type:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}
