@use "../variables.scss" as variables;


.label-feed {
  @media (min-width: variables.$tablet-width) {
    width: 628px;
  }
}

.label-feed__input {
  border: 1px solid #e7e7e7;
  padding: 13px 35px 13px 15px;
  cursor: pointer;

  &--email {
    background-image: url("../img/form-email.svg");
    background-repeat: no-repeat;
    background-position: center right 11px;
    width: 200px;

    @media (min-width: variables.$tablet-width) {
      width: 100%;
      box-sizing: border-box;
    }
  }

  &--tel {
    background-image: url("../img/form-tel.svg");
    background-repeat: no-repeat;
    background-position: center right 12px;
    width: 183px;

    @media (min-width: variables.$tablet-width) {
      width: 100%;
      box-sizing: border-box;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 15px 40px 13px 20px;
  }
}

.label-feed__text {
  margin-right: 13px;
}


.label-feed__input:hover {
  border: 1px solid #cdcdcd;
  transition: 0.3s ease;
}

.label-feed__input:focus {
  border: 2px solid #444444;
  transition: 0.3s ease;
}

.label-feed__input--email:focus {
  background-image: url("../img/form-email-focus.svg");
}

.label-feed__input--tel:focus {
  background-image: url("../img/form-tel-focus.svg");
}

.label-feed__input:invalid {
  border: 2px solid #ff8282;
  transition: 0.3s ease;
}

.label-feed__input--email:invalid {
  background-image: url("../img/form-email-invalid.svg");
}

.label-feed__input--tel:invalid {
  background-image: url("../img/form-tel-invalid.svg");
}
