@use "../variables.scss" as variables;

.label-info {
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 628px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 570px;
  }
}

.label-info__input {
  border: 1px solid #cdcdcd;
  width: 100%;
  height: 45px;
  margin-left: 13px;
  padding-left: 15px;
}
