@use "../variables.scss" as variables;

.label__text {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
}
