@use "../variables.scss" as variables;

.logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: variables.$tablet-width) {
    gap: 13px;
  }

  @media (min-width: variables.$desktop-width) {
    &--header {
      .logo__text {
        width: 118px;
        height: 21px;
      }
    }
  }
}

.logo__text {
  display: block;
}

.logo__image {
  display: block;
}
