@use "../variables.scss" as variables;

.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 13px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    min-height: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 18px;
    border: none;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 12px;
  }
}

.main-header__container {
  padding-bottom: 11px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__logo-text {
  @media (min-width: variables.$desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}
