@use "../variables.scss" as variables;

.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 12px;

  @media (min-width: variables.$tablet-width) {
    min-height: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__container {
padding-bottom: 11px;

    @media (min-width: variables.$tablet-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
