@use "../variables.scss" as variables;

.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  outline: 1px solid #26c143;

  @media (min-width: variables.$tablet-width) {
    min-height: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 59px;
  }
}

.main-header__container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
