@use "../variables.scss" as variables;

.main-footer__htmlacademy {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  color: #666666;

  @media (min-width: variables.$tablet-width) {
    min-width: 162px;
  }
}

.main-footer__htmlacademy:hover {
  color: #68b738;
}

.main-footer__htmlacademy:active {
  color: rgba(104, 183, 56, 0.4);
}

.main-footer__htmlacademy:active span {
  opacity: 0.3;
}

.main-footer__htmlacademy-text {
  font-size: 16px;
  line-height: 125%;
  color: #444444;
}

.main-footer__container {
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 55px;
    padding-bottom: 56px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 69px;
    padding-top: 27px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    align-items: flex-end;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding: 38px 74px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    margin-right: 160px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 164px;
  }
}


.main-footer__logo:hover {
  opacity: 0.8;
}

.main-footer__logo:active {
  opacity: 0.6;
}

.main-footer__logo:focus{
  border: 1px solid #444444;
  outline: 1px solid #444444;
}
