@use "../variables.scss" as variables;

.main-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 52px;

  @media (min-width: variables.$tablet-width) {
    width: auto;
    position: static;
    margin-right: 4px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 43px;
  }
}

.main-nav__toggle {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(130px);
  margin-top: 9px;
  display: block;
  position: absolute;
  top: -52px;
  left: 0;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: #000000;
    transform: rotate(45deg);
    box-shadow: none;
  }

  .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: #000000;
    transform: rotate(-45deg);
  }

  .main-nav__list {
    display: block;
  }

  @media (min-width: variables.$tablet-width) {
    .main-nav__list {
      display: flex;
    }
  }
}

.main-nav__list {
  display: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
  }
}

.main-nav--nojs {
  position: static;

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: block;

    @media (min-width: variables.$tablet-width) {
      display: flex;
    }
  }
}
