@use "../variables.scss" as variables;

.main-nav-list {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    background-color: transparent;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 33px;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 20px;

    &--inner-page {
      color: #000000;
    }
  }
}


.main-nav-list__item {
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  min-height: 66px;

  @media (min-width: variables.$tablet-width) {
    border-top: none;
  }
}

.main-nav-list__navigation {
  text-decoration: none;
  color: inherit;

  &--main {
    @media (min-width: variables.$tablet-width) {
      border-bottom: 2px solid #68b738;
      padding-bottom: 7px;
      height: 24px;
    }

    @media (min-width: variables.$desktop-width) {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.main-nav-list__navigation:hover {
  opacity: 0.6;
}
