@use "../variables.scss" as variables;

.promo {
  width: 280px;
  height: fit-content;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url("../img/promo-background-image.png") 1x,
      url("../img/promo-background-image@2x.png") 2x);
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/icon_gift.svg");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 58px;
    left: 100px;

    @media (min-width: variables.$tablet-width) {
      width: 80px;
      height: 83px;
      top: 57px;
      left: 78px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 56px;
      left: 83px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../img/promo-background-image-tablet.png") 1x,
        url("../img/promo-background-image-tablet@2x.png") 2x);
    width: 100%;
    padding-bottom: 69px;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../img/promo-background-image-desktop.png") 1x, url("../img/promo-background-image-desktop@2x.png") 2x);
    width: 245px;
    padding-bottom: 43px;
    margin-top: 17px;
  }
}

.promo__text {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
  padding-top: 187px;
  width: 161px;
  margin: 0 auto;
  height: fit-content;

  @media (min-width: variables.$tablet-width) {
    padding-top: 71px;
    margin-left: auto;
    margin-right: 125px;
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 185px;
    text-align: center;
    margin: 0 auto;
  }
}
