@use "../variables.scss" as variables;

.site-list {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 33px;
    justify-content: flex-end;
    color: #ffffff;

    &--inner-page {
      color: #000000;
    }
  }
}

.site-list__navigation {
  text-decoration: none;
  color: inherit;
}
