@use "../variables.scss" as variables;

.site-list {
  font-family: variables.$accent-font;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.site-list__navigation {
  text-decoration: none;
  color: #000000;
}
