@use "../variables.scss" as variables;

.social-list {
  margin-bottom: 20px;
  display: flex;
  gap: 28px;
  padding: 23px 74px 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    border: 0;
    margin: 0;
    padding: 9px 0 0;
    margin-right: 131px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 387px;
    padding: 45px 0 0;
  }
}

.social-list__item {
  list-style-type: none;
}

.social-list__link {
  color: #666666;
}

.social-list__link:hover,
.social-list__link:focus {
  color: #68b738;
}

.social-list__link:active {
  color: rgba(104, 183, 56, 0.4);
}
