body {
  margin: 0;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  outline: 1px solid green;
}
@media (min-width: 768px) {
  .main-header {
    min-height: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header {
    min-height: 59px;
  }
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  min-width: 320px;
  min-height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero-background-image.png");
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .hero::before {
    min-width: 720px;
    min-height: 694px;
    display: flex;
    background-size: cover;
    right: 0;
    top: -70px;
  }
}
@media (min-width: 320px) {
  .hero {
    height: 480px;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 875px;
  }
}
@media (min-width: 1440px) {
  .hero {
    height: 580px;
  }
}

@media (min-width: 320px) {
  .hero__image {
    height: 270px;
  }
}
@media (min-width: 768px) {
  .hero__image {
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    height: 499px;
  }
}

.hero__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 0;
}

.hero__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

.food-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid blue;
  gap: 20px;
}
@media (min-width: 1440px) {
  .food-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .food-type {
    gap: 30px;
  }
}

.food-type__item {
  background: #f2f2f2;
}
@media (min-width: 320px) {
  .food-type__item {
    height: 266px;
  }
}
@media (min-width: 768px) {
  .food-type__item {
    height: 372px;
  }
}
@media (min-width: 1440px) {
  .food-type__item {
    height: 374px;
  }
}

.food-type__image {
  display: flex;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: 18px;
}
.food-type__image--slim::after {
  content: "";
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 36px;
  height: 50px;
  top: -3px;
  left: 50%;
  transform: translate(-50%, 0);
  background-position: center;
}
@media (min-width: 768px) {
  .food-type__image--slim::after {
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  .food-type__image--slim::after {
    width: 70px;
    height: 97px;
  }
}
.food-type__image--mass::after {
  content: "";
  background-image: url("../img/cat-mass.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 67px;
  height: 28px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-position: center;
}
@media (min-width: 768px) {
  .food-type__image--mass::after {
    width: 268px;
    height: 113px;
    top: 44px;
  }
}
@media (min-width: 1440px) {
  .food-type__image--mass::after {
    width: 134px;
    height: 56px;
    top: 20px;
  }
}
@media (min-width: 768px) {
  .food-type__image {
    left: 460px;
    width: 200px;
    height: 200px;
    top: 85px;
  }
}
@media (min-width: 1440px) {
  .food-type__image {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 50px;
  }
}

.food-type__image-container {
  position: relative;
}

.food-type__title {
  font-family: "Oswald", sans-serif;
  padding-left: 90px;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .food-type__title {
    padding-left: 52px;
    margin-top: 77px;
  }
}
@media (min-width: 1440px) {
  .food-type__title {
    padding-left: 214px;
    line-height: 100%;
    font-size: 36px;
  }
}

.food-type__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  width: 227px;
  margin-bottom: 23px;
  margin-top: 10px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .food-type__text {
    margin-left: 52px;
    line-height: 150%;
    width: 300px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .food-type__text {
    margin-top: 73px;
    width: 420px;
    margin-bottom: 27px;
  }
}

.food-type__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 18px;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
  width: 240px;
  margin-left: 20px;
}
.food-type__link::after {
  content: url("../img/icon-arrow.svg");
  margin-left: 15px;
}
@media (min-width: 768px) {
  .food-type__link {
    margin-left: 52px;
    border: 0;
    padding: 0;
  }
}

.how-it-works {
  margin-bottom: 49px;
}

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
}
@media (min-width: 768px) {
  .how-it-works__title {
    margin-bottom: 72px;
  }
}

.example {
  background-color: #eaeaea;
  padding-bottom: 40px;
  padding-top: 25px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
}

.example__text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}

.example__info-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.example__info-item {
  width: 124px;
  height: 70px;
}

.example__info-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

.example__info-text {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #444444;
}

.example__cost-wrapper {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
}

.address__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 112px;
  background-color: #ffffff;
}
.address__container--grey {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .address__container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .address__container {
    width: 409px;
    min-height: 199px;
    padding-left: 80px;
    padding-right: 78px;
    margin-left: 110px;
    position: absolute;
    z-index: 1;
    margin-top: 95px;
  }
}

@media (min-width: 1440px) {
  .address__map {
    position: relative;
  }
}

.address__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  margin-left: 13px;
  width: 163px;
}

.address__info {
  width: 157px;
}

.address__link {
  font-size: 14px;
  line-height: 143%;
  color: #444444;
  text-decoration: none;
}

.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 40px;
}

.main-footer__htmlacademy {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
}
@media (min-width: 768px) {
  .main-footer__htmlacademy {
    min-width: 168px;
  }
}

.main-footer__htmlacademy-text {
  font-size: 16px;
  line-height: 125%;
  color: #444444;
}

@media (min-width: 768px) {
  .main-footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.catalog {
  margin-bottom: 35px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.promo {
  width: 280px;
  height: 290px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-background-image.png");
}

.promo__text {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
}

.form-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 0;
}

.form-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
  margin-top: 32px;
}

.additional-item {
  list-style-type: none;
}

.additional-item__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
}

.additional-item__container-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  width: 280px;
  justify-content: space-between;
}

.catalog-item {
  list-style-type: none;
}

.catalog-item__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
}

.catalog-item__description {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  width: 280px;
  height: 40px;
  text-decoration: none;
}
.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}

.description-list {
  width: 140px;
  height: 48px;
}

.description-list__value {
  margin: 0;
}

.description-list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
}

.form-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
}

.form-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 320px;
  padding: 0;
}

.form-type {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 320px;
  padding: 0;
  margin-top: 22px;
}

.form__button {
  margin-bottom: 21px;
}

.form__text {
  font-size: 14px;
  line-height: 114%;
  color: #000000;
}

.label-info {
  width: 280px;
  display: flex;
}

.label-info__input {
  border: 1px solid #cdcdcd;
  width: 213px;
  height: 45px;
  margin-left: 13px;
  padding-left: 15px;
}

.label-feed__input {
  border: 1px solid #cdcdcd;
  width: 202px;
  height: 45px;
  margin-left: 13px;
  padding-left: 15px;
}

.label-feed__email {
  background-image: url("../img/form-email.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
}

.label-feed__tel {
  background-image: url("../img/form-tel.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
}

.label-type__text {
  margin-left: 15px;
}

.form-feedback {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form-feedback__input {
  min-height: 150px;
  width: 280px;
  border: 1px solid #e7e7e7;
  margin-top: 38px;
}

.form-feed {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.form-extra {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  margin-top: 23px;
}

.how-it-works-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1440px) {
  .how-it-works-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .how-it-works-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.how-it-works-item {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .how-it-works-item {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    min-width: 230px;
    counter-increment: how-it-works-item;
    position: relative;
  }
  .how-it-works-item::after {
    content: counter(how-it-works-item);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
    color: #f2f2f2;
    position: absolute;
    z-index: -1;
    top: -38px;
    right: 0;
  }
}

.how-it-works-item__text {
  width: 200px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .how-it-works-item__text {
    margin-left: 0;
    margin-top: 31px;
  }
}

.icon-container {
  width: 60px;
  height: 60px;
  background: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .logo {
    justify-content: left;
  }
}

.logo__text {
  margin-top: 40px;
}

.social-list {
  display: flex;
  width: 132px;
  justify-content: space-between;
  padding: 20px 74px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social-list {
    border: 0;
  }
}

.social-list__item {
  list-style-type: none;
}

.site-list {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.site-list__navigation {
  text-decoration: none;
  color: #000000;
}

.title-container {
  display: flex;
  align-items: center;
}

.main-nav {
  width: 100%;
  position: relative;
  outline: 1px solid red;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
  }
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  background-color: aqua;
  position: absolute;
  right: 50px;
  top: -30px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */