@use "variables.scss" as variables;

body {
  margin: 0;
  min-width: 320px;
  font-family: variables.$main-font;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
